%h1 About the Uncommon Fund 

%p
  The Uncommon Fund is a pool of money allocated by Student Government towards interesting and creative student projects and initiatives on campus.  These projects and initiatives range from one-day events to large-scale initiatives or projects. With the support of ORCSA, The fund is entirely student-run. 

%p
  The goal of the Uncommon Fund is to encourage students to take action on campus in creative and unique ways and help them realize their passions outside of an RSO setting at the university. Created in 2006, the Uncommon Fund has grow considerably in the last several years and is now a pool of $75,000 thanks to a grant from the Office of the Dean of the College. 

%h3 2011 Uncommon Fund Summary
%ul
  %li Applications tripled from previous years
  %li Over 150 projects applied
  %li First time use of online showcase (Joinstart.com) 
  %li A diverse range of projects were funded
  %li Fund was heavily publicized 

%h3 Examples of previously funded projects
%ul 
  %li A real life puzzle game
  %li A barista competition
  %li Exploded metal sculptures on the quad
  %li A series of acrobatic circus events
  %li A conference exploring the social implications of the Jersey Shore TV show
  %li New hydration stations throughout the campus
  %li Yoga classes at local women’s shelters 

= image_tag "photos/pic1.png", :style => "float: right"
= image_tag "photos/pic2.png", :style => "float: left"
= image_tag "photos/pic3.png", :style => "float: left; margin-top: 20px;"
= image_tag "photos/pic4.png", :style => "float: right; margin-top: 20px;"

